img {
	max-width: 100% !important;
    max-height: 100% !important;
    width: auto !important;
    height: auto !important;
}

.postThumb {
	/*width:100px; 
	height:100px;*/
	max-width: 80px !important;
	max-height: 80px !important;
	/*clip: rect(0px 80px 80px 0px);*/
}

.commentText {
	white-space: normal;
	padding-top: 10px;
	padding-bottom: 5px;
	font-size: 16px;
}

.errorMessage {
	display: block;
	opacity: 0.96;
	top: 100px;
	position: absolute;
	left: 50%;
	margin-left: -125px;
	font-size: 20px;
	width: 250px;
	padding: 5px 5px 5px 10px;
}

.nav-toolbar .ui-btn .ui-btn-inner { 
	padding-top: 40px !important;
}

.nav-toolbar .ui-btn .ui-icon { 
	width: 30px!important; 
	height: 30px!important; 
	margin-left: -15px !important; 
	box-shadow: none!important; 
	-moz-box-shadow: none!important; 
	-webkit-box-shadow: none!important; 
	-webkit-border-radius: 0 !important;
	 border-radius: 0 !important; 
}

.ui-icon-posts {
	background: url("img/home.png") 50% 50% no-repeat;
	background-size: 24px 24px;
}

.ui-icon-mystuff {
	background: url("img/mystuff.png") 50% 50% no-repeat;
	background-size: 24px 24px;
}

.ui-icon-inbox {
	background: url("img/inbox.png") 50% 50% no-repeat;
	background-size: 24px 24px;
}

.ui-icon-more {
	background: url("img/more.png") 50% 50% no-repeat;
	background-size: 24px 24px;
}

.maxedFootButton {
    max-width: 90% !important;
    max-height: 90% !important;
    width: 90% !important;
    height: 90% !important;
    padding-top: 5px;
}