<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" 
   xmlns:rim="http://www.blackberry.com/ns/widgets" 
   version="1.0.0.0" rim:header="iLepra">

   <name>iLepra</name>
   <description>Leprosorium.ru client for PlayBook.</description>

	<rim:orientation mode="auto"/>
	
	<icon src="assets/icon.png"/>

	<content src="index.html"/>
	
</widget>